Repository marcmarina/node-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx sort-package-json

Installed sort-package-json
  .lintstagedrc
  package.json
  yarn.lock
Due: npx sort-package-json

Added various workspace utils
  .editorconfig
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .prettierrc
  .tool-versions
  multiples/index.js
  multiples/multiples.spec.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Conversion to ESModules (#1)
  .babelrc
  .eslintrc.cjs
  .lintstagedrc
  jest.config.js
  jest.config.mjs
  jsconfig.json
  multiples/index.js
  multiples/multiples.js
  multiples/multiples.spec.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Using import/order
  .eslintrc.cjs
Due: none

Added dayjs
  dayjs/index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Added math
  math/index.js
Due: prettier --write, eslint --fix

Added number formatter
  .eslintrc.cjs
  math/formatting.js
  math/index.js
  math/rounding.js
Due: prettier --write, eslint --fix

Added vigenere
  .eslintrc.cjs
  package.json
  vigenere/index.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Added key renaming module
  keys/index.js
Due: prettier --write, eslint --fix

Eslint plugin change
  .eslintrc.cjs
  package.json
  yarn.lock
Due: npx sort-package-json

Eslint change
  keys/index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Added counter
  math/counter.js
Due: prettier --write, eslint --fix

Flipper
  dayjs/index.js
  flipper/index.js
  utils/counter.js
Due: prettier --write, eslint --fix

Algorithms
  algorithms/index.js
  algorithms/searching.js
  algorithms/sorting.js
  algorithms/sorting.spec.js
  utils/random.js
Due: prettier --write, eslint --fix

Removed index
  index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.js
  eslint --fix: any of: **/*.js
  npx sort-package-json: any of: package.json
